*{font-family: 'Roboto', sans-serif; margin: auto;}
body
{
	margin: auto;
	width: 100%;
}
.header
{
	margin:auto;
	height: 25px;
	width: 100%
	max-width: 90%;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding-top: 20px;

}


.header .logo
{   
    display: flex;
    flex-wrap: wrap;
	max-width: 50%
	align-items: center;
	
}

.logo
{
	font-size: 25px;
}
.header .Menu
{
	display: flex;
    flex-wrap: wrap;
	max-width: 50%;
	width: 100%;
    justify-content: flex-end;	

}
.Menu ul
{
	vertical-align: right;
}
.Menu ul li
{
	display: inline;
	padding: 10px;
	font-size: 16px;
	text-align: right;
}


.slide
{
	background-image: url('resources/img1.png');
    width: 100%;
    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
}


.slide .slide-data
{
	padding-top: 8%;
	text-align: center;
	width: 41%;
	margin: auto;
	color: white;
	font-size: 20px;
}

.slide .slide-data p
{
	padding-top: 50px;
}
.main-div .imgs .card
{
	width: 100%;
	margin: auto;
}
.main-div .imgs
{
	display: flex;
	margin: 0;
	overflow: hidden;
    max-width: auto;
    margin: auto;
	padding-bottom: 30px;
	max-width: 80%;

}
.mian-div .imgs .card .card-img
{
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.mian-div .imgs  .card .card-img img
{
	
	width: 100%;
}	
.main-div .imgs .card
{
	width: 22%;
	margin: auto;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
	height: 340px;
}
.card-img{
	width: 100%;
}
.card-img img{
	width: 100%;
	height: 200px;
}
.card-detail
{
	padding-left: 15px;
	padding-top: 5px;
}
.card-detail h2
{
	font-size: 20px;
}
.pro
{
	margin: auto;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.pro p
{
	margin: auto;
	width: 100%;
	text-align: center;
	padding-top: 20px;s
}
.pro h2
{
	text-align: center;
	color: red;
}
.gallery .gallery-heading
{
	text-align: center;
	color: white;
	padding-top: 40px;
	font-size: 14px;
}
.gallery .gallery-img
{
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding-bottom: 50px;
	padding-top: 30px;

}
.gallery .gallery-img .gallery-img-src
{
	width: 14%;
}
.gallery .gallery-img .gallery-img-src img
{
	width: 101%;
}
.gallery
{
	background-color: #d77145;
	padding: 50 0px;
	margin-top: 30px;
}
.footer
{
	background-color: black;
}
.custom
{
	margin-top: 40px;
	display: flex;
	height: 300px;
	max-width: 80%;
}
.link
{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 60px;
	padding-right: 50px;
}
.link ul li 
{
	width: 100%;
	padding-top: 22px;
}
.link ul li a
{
	text-decoration: none;
	color: white;
}

.footer-in
{
	background-color: #403b3bb5;
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
}


.slider
{
	background-image: url('resources/img1.png');
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
}


.slider .slider-data
{
	padding-top: 3%;
	text-align: center;
	width: 41%;
	margin: auto;
	color: white;
	font-size: 20px;
}

.about
{
	text-align: center;
	width: 45%;
	margin: auto;
	font-size: 20px;
	margin-bottom: 60px;
}


.mid-div
{
	display: flex;

}

.food
{
	width: 100%;
}
.food img
{
	width: 100%;
}
.contain
{
	background-color: #d77145;
	width: 100%;
	height: 788px;
}

.contain p
{
	padding-left: 131px;
	padding-right: 100px;
	
	font-size: 19px;
}

.pp
{
	padding-top: 15px;
}

.hh
{
	padding-top: 200px;
}
.custom1
{
	margin-top: -4px;
	display: flex;
	height: 300px;
	max-width: 80%;
}	

.category
{
	width: 30%;
	margin-top: 0px;
	font-size: 19px;

}
.catp
{
	text-align: center; 
	padding-left: 58px;
}

.cat2
{
	text-align: center; 
	padding-top: 30px;
}
.category ul li
{
	text-align: center;
	padding-top: 15px;
	list-style-type: none;
}
.cat
{
	display: flex;
	margin-top: 50px;
}

.main-div .imgs1 .card1
{
	max-width: 29%;
	margin: auto;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
	height: 340px;
}

.main-div .imgs1
{
	display: flex;
	margin: 0;
	overflow: hidden;
    max-width: auto;
    margin: auto;
	padding-bottom: 30px;
	max-width: 70%;

}

.page
{
	display: inline-flex;
	margin-bottom: 20px;
	margin-left: 470px;
}

.page a
{
	padding: 12px;
	border-right: 1px solid grey;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	color: grey;
	
}

.page a:first-child
{
	border-left: 1px solid grey;
	border-top-left-radius: 5px;
	border-bottom-left-radius:5px;
}

.page a:last-child
{
	
	border-top-right-radius: 5px;
	border-bottom-right-radius:5px;
}

.product
{
	display: flex;
	width: 81%;
	margin: auto;
	margin-top: 35px;
}
.photos
{
  width: 50%;	
}
.p1
{
	margin: 0px;
	font-size: 38px;
}
.p2
{
     padding-top: 20px;
}
.p3
{
     padding-top: 20px;
     padding-bottom: 25px;
}

.photos .main-photo img
{
  width: 100%;
  height: 425px;
}

.sub-photo
{
  
  display: flex;
  margin: -4px;
}

.sub-photo .p1
{
	width: 25%;
}
.sub-photo .p1 img
{
	width: 100%;
}

.pro-data
{
	width: 50%;
	margin-left: 35px;
	padding-bottom: 50px;
	margin-top: 40px;
}

.btn
{
	color: white;
	background-color: #bb4637;
	padding: 15px;
	font-size: 21px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer1
{
	background-color: black;
	margin-top: 500px;
}

.map iframe
{
	width: 100%;
}

.fname
{
	width: 40%;
	padding: 22px;
	border: 1px solid black;
}

.lname
{
	width: 40%;
	margin-left: 25px;
	padding: 22px;
	border: 1px solid black;
}

.detail
{
	width: 60%;
	margin-top: 50px;

}

.mob
{
	width: 834px;
    padding: 22px;
    margin-top: 18px;
    border: 1px solid black;
}

.select
{
	width: 880px;
    margin-top: 20px;
    padding: 22px;
    border: 1px solid black;
}

.footer2
{
	background-color: black;
	margin-top: 80px;
}

.btn1
{
	background-color: #e9731fcc;
	color: white;
	padding: 18px;
	padding-left: 55px;
    padding-right: 55px;
    margin-top: 20px;
    margin-left: 325px;
    font-size: 16px;
}








@media(max-width: 1024px)
{
	.main-div .imgs
	{
		max-width: 90%;
	}
	.main-div .imgs .card
	{
		height: 370px;
		width: 23%;
	}
	.link
	{
		padding-right: 10px;
	}
	.Menu ul li
	{
		font-size: 15px;
	}
	.slide .slide-data
	{
		width: 54%;
	}
	.slide .slide-data p
	{
		font-size: 18px;
	}
}

@media(max-width: 768px)
{
	.header .Menu
	{
		max-width: 70%;
	}
	.slide .slide-data
	{
		width: 78%;
		padding-top: 145px;
	}
	.main-div .imgs
	{
		max-width: 97%;
	}
	.main-div .imgs .card
	{
		height: 392px;
		width: 23%;
	}
	.custom
	{
		max-width: 90%;
	}
	.link
	{
		font-size: 13px;
		padding-right: 0px;
	}
}

@media(max-width: 425px)
{
   .Menu ul li
	{
		display: block;
		padding: 0px;
		padding-left: 60px;
		text-align: left;
	}
	.header .logo
	{
		width: 50%;
		padding-top: 10px;
	}
	.header
	{
		height: 100px;
		padding-top: 20px;
	}	
   .header .Menu
   {
   	    max-width: 49%;
   }
   .slide {
   
    width: 100%;
    }
    .slide .slide-data 
    {
    width: 80%;
    padding-top: 122px;
    }
    .pro
    {
    	width: 94%;
    }
    .main-div .imgs
    {
    	flex-wrap: wrap;
    }
    .main-div .imgs .card
    {
    	width: 45%;
    }
    .main-div
    {
    	width: 100%;
    }
    .custom 
    {
    	display: flex;
    	flex-wrap: wrap;
    	height: 490px;
    }

}

@media(max-width: 425px)
{
	.logo
	{
		font-size: 20px;
	}
}

@media(max-width: 320px)
{
    .Menu ul li
     {
        font-size: 13px;
        padding-left: 0px;
     }
     .slide .slide-data p {
    font-size: 14px;
     }
     .pro h2 
      {
   
       font-size: 18px;
      }
      .pro p
      {
      	font-size: 14px;
      }
      .main-div .imgs .card 
      {
        width: 65%;
      }
      .custom
      {
      	height: 740px;
      }
      .footer-in
      {
      	font-size: 17px;
      }
}


@media(max-width: 1024px)
{
	.contain
	{
		height: 508px;
	}
	.contain p 
	{
    padding-left: 85px;
    padding-right: 85px;
    
    font-size: 17px;
    }
    .hh
    {
    	padding-top: 115px;
    }
}

@media(max-width: 768px)
{
   .slider .slider-data 
   {
    padding-top: 4%;
    width: 60%;
    font-size: 20px;
    }
    .contain p 
    {
    padding-left: 40px;
    padding-right: 40px;
    
    font-size: 15px;
   }
   .hh
   {
   	 padding-top: 50px;
   }
   .contain
   {
   	height: 380px;
   }
   .about
    {
    width: 66%;
    font-size: 17px;
    }
    .custom1
    {
    	max-width: 88%;
    }
}

@media(max-width: 425px)
{
	.slider .slider-data
	 {
      padding-top: 16%;
      width: 75%;
      font-size: 16px;
     }
     .about
     {
     	width: 75%;
     	font-size: 16px;
     }
     .contain
     {
     	height: 209px;
     }
     .contain p 
     {
       padding-left: 10px;
       padding-right: 10px;
       
       font-size: 10px;
     }
     .hh
     {
     	padding-top: 10px;
     }
     .pp
     {
     	padding-top: 5px;
     }
     .custom1
     {
     	display: flex;
     	flex-wrap: wrap;
     	font-size: 12px;
     	height: 475px;
     }
     .footer-in
     {
     	font-size: 18px;
     }
}     

@media(max-width: 375px)
{
     .about {
    width: 85%;
    font-size: 15px;
    }
    .slider .slider-data
     {
    padding-top: 15%;
    width: 80%;
    font-size: 15px;
     }
     .contain
     {
     	height: 184px;
     }
     .contain p
     {
     	font-size: 9px;
     }
     .footer-in{
     	font-size: 16px;
     }
 }    


@media(max-width: 320px)
{
    .slider .slider-data
     {
    padding-top: 22%;
    width: 82%;
    font-size: 13px;
     }
     .about {
    width: 95%;
    font-size: 13px;
    }
    .contain
     {
    height: 158px;
    }
    .hh
    {
    	padding-top: 15px;
    }
    .pp
    {
    	padding-top: 4px;
    }
    .contain p
    {
    	font-size: 7px;
    }
    .custom1 
    {
    margin-top: -3px;
    height: 707px;
    }
    .link
    {
    	font-size: 11px;
    }
    .footer-in
    {
    	font-size: 14px;
    }
}   



@media(max-width: 1024px)
{
   .slider .slider-data
   {
      width: 50%;
    } 
    .main-div .imgs1 .card1 
    {
    	height: 368px;
    }	
}    

@media(max-width: 768px)
{  
	.slider .slider-data
   {
      width: 60%;
      padding-top: 6%;
      font-size: 19px;
    } 
    .category
    {
    	font-size: 17px;
    }
    .main-div .imgs1
    {
    	max-width: 98%;
    }
    .main-div .imgs1 .card1 {
    	height: 370px;
    }
    .card-detail {
    padding-left: 5px;
    }
    .page 
    {
      margin-left: 177px;	
    }
    .page a
    {
    	padding: 10px;
    }
}    

@media(max-width: 425px)
{
    .slider .slider-data
     {
      width: 70%;
      padding-top: 16%;
      font-size: 15px;
    }
    .category 
    {
    font-size: 14px;
     	display: inline-block;
     	width: 100%;
    }
    .category ul li
     {
    
     padding-top: 10px;
     padding-right: 16px;
     }
     .category p
     {
     	padding-left: 40px;
     }
     .cat2
     {
     	text-align: center;
     	padding-left: 44px;
     }
     .cat
     {
     	display: block;
     }
     .cat-link ul 
     {
     	display: flex;
     	flex-wrap: wrap;
     }
     .main-div 
     {
    width: 96%;
    margin-top: 30px;
    }
    .page
    {
    	margin-left: 110px;
    }
    .page a
    {
    	padding: 5px;
    }
    .main-div .imgs1 .card1 
    {
    	max-width: 50%;
    	margin-top: 10px;
    }
    .card-detail h2
     {
    font-size: 17px;
    }
    .main-div .imgs1
    {
    	display: block;
    }	
    .footer-in
    {
    	font-size: 17px;
    }
}

@media(max-width: 375px)
{
     .slider .slider-data
      {
    width: 75%;
    
    font-size: 14px;
     }
     .card-detail 
     {
      padding-left: 5px;
      font-size: 15px;
    }
    .card-detail h2 
    {
    font-size: 16px;
    }
    .page
    {
    	margin-left: 95px;
    }
    .page a
    {
    	padding: 4px;
    }
    .footer-in
    {
    	font-size: 16px;
    }
}

@media(max-width: 320px)
{
    .logo {
    font-size: 18px;
     }

     .slider
     {
     	margin-top: 7px;
     }
     .slider .slider-data
      {
      width: 80%;
     font-size: 12px;
     padding-top: 25%;
    }
    .category 
    {
    font-size: 12px;
    }
    .main-div .imgs1 .card1 
    {
    max-width: 56%;
    }
    .card-detail h2 
    {
    font-size: 14px;
    }
     .card-detail 
     {
      padding-left: 3px;
      font-size: 13px;
    }
    .main-div .imgs1 .card1
     {
    height: 318px;
     }
     .footer-in
    {
    	font-size: 14px;
    }
    .page
    {
    	margin-left: 73px;
    }
    .page a
    {
    	padding: 3px;
    }
}    

@media(max-width: 1024px)
{
	.product 
	{
		width: 87%;
	}
	.p3
	 {
    padding-top: 15px;
    font-size: 15px;
     }	
     .p2
     {
     	padding-top: 15px;
     }

}

@media(max-width: 768px)
{
	.product 
	{
		width: 98%;
		margin-top: 0px;
	}
    .p3 {
    padding-top: 10px;
    font-size: 14px;
     }
      .p2
     {
     	padding-top: 10px;
     }
     .p1
     {
     	font-size: 32px;
     }

}

@media(max-width: 425px)
{
	.product
	{
		display: block;
	}
	.photos
	{
	   width: 95%;
	}
	.pro-data
	{
		width: 86%;
	}
	.photos .main-photo img 
	{
		height: auto;
	}	
	.btn
	 {
    
    padding: 10px;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    } 

    .p1
     {
     	font-size: 27px;
     }
    .p3
    {
    	font-size: 13px;
    }
}  

@media(max-width: 375px)  
{
	.photos
	{
		margin-top: 15px;
	}
	.p2
	{
		font-size: 21px;
	}
	.pro-data
	{
		margin-left: 14px;
		width: 90%;
	}
	.btn
	 {
    padding: 6px;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    }
}

@media(max-width: 320px) 
{
	.p1
	{
		font-size: 24px;
	}
	.pro-data
	{
		margin-left: 14px;
		width: 90%;
	}
	.btn
	 {
    padding: 5px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    }
} 


@media(max-width: 1024px)
{
	.mob
	{
		width: 92%;
	}
	.select
	{
		width: 99%;
	}
	.btn1
	{
		margin-left: 197px;
	}
}

@media(max-width: 768px)
{
	.slider .slider-data
	 {
    width: 63%;
    font-size: 18px;
     }

     .detail
     {
     	width: 80%;
     }
}

@media(max-width: 425px)
{
	.slider .slider-data
	 {
    width: 70%;
    font-size: 14px;
     }
     .mob
	{
		width: 86%;
		padding: 18px;
	}
	.fname
	{
		width: 33%;
		padding: 18px;
	}
	.lname
	{
		width: 33%;
		padding: 18px;
	}
	.select
	{
		padding: 18px;
		width: 97;
	}
	.btn1 {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    
    margin-left: 75px;
    font-size: 14px;
  }
}

@media(max-width: 375px)
{
	.slider .slider-data
	 {
    padding-top: 21%;
    font-size: 13px;
     }
     .detail
     {
     	width: 93%
     }
     .fname
	{
		width: 34%;
		padding: 15px;
	}
	.lname
	{
		width: 34%;
		padding: 15px;
	}
	.select
	{
		padding: 15px;
		width: 94%;
	}
	 .mob
	{
		width: 85%;
		padding: 15px;
	}
	.btn1 {
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    
    margin-left: 94px;
    font-size: 13px;
  }
}

@media(max-width: 320px)
{   
	.slider .slider-data
	 {
    padding-top: 23%;
    font-size: 12px;
     }
      .fname
	{
		width: 34%;
		padding: 13px;
	}
	.lname
	{
		width: 34%;
		padding: 13px;
		margin-left: 17px;
	}
	.select
	{
		padding: 13px;
		width: 94%;
	}
	 .mob
	{
		width: 85%;
		padding: 13px;
	}
	.btn1 {
    padding: 11px;
    padding-left: 25px;
    padding-right: 25px;
    
    margin-left: 78px;
    font-size: 11px;
  }

}
